.form {
    display: flex;
    gap: 8px;
    position: relative;
    min-width: var(--min-width);
    max-width: var(--max-width);
    width: -webkit-fill-available;
    bottom: 64px;
}

.form input {
    width: 100%;
    padding: 16px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
    color: var(--gray-300);
    background-color: var(--gray-500);
    border: none;
    border-radius: 8px;
}

.form input:focus,
.form input:focus-visible {
    color: var(--gray-100);
}