.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--padding-page);
    background-color: var(--gray-700);
}

.header img {
    max-height: 48px;
    padding: 43px;
}